ServiSwitch_AuthCPN_Interface/Service References/ServiceReference1/DirectPaymentExecutor_schema1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://service.directpayment.cpn.ecobis.cobiscorp.ws/" targetNamespace="http://service.directpayment.cpn.ecobis.cobiscorp.ws/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ExecutePayment" type="tns:ExecutePayment" />
  <xs:element name="ExecutePaymentResponse" type="tns:ExecutePaymentResponse" />
  <xs:complexType name="ExecutePayment">
    <xs:sequence>
      <xs:element minOccurs="0" name="inDirectPaymentRequest" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExecutePaymentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>